.foods-container {
    font-size: 18px;
}

.foods-title-container {
    margin-bottom: 20px;
}

.foods-title-container h1{
    font-size: 1em;
    letter-spacing: -0.015em;
}

@media (min-width: 576px) {
    .foods-container {
        font-size: 30px;
    }
}