.food-info-container {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(197, 196, 196);
}

.food-info-container h3{
    font-size: 15px;
    color: #0c5826;
    margin: 1px;
    padding: 1px;
    border-bottom: 0.5px solid rgb(197, 196, 196);
    text-align: right;
}

.food-info-container h2{
    font-size: 15px;
    color: black;
    margin: 1px;
    padding: 1px;
    border-bottom: 0.5px solid rgb(197, 196, 196);
    text-align: left;
    text-transform: uppercase;
}

.food-details-container {
    display: flex;
    justify-content: center;
}
