.main-nav {
    padding-left: 40px;
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover {
    color: aliceblue;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 680px;
    justify-content: space-between;
}

.main-menu a  {
    color: azure;
}

.main-menu a.active  {
    color: white;
    font-weight: bold;
}