.food-crud-form-card {
    padding: 20px;
}

.food-crud-form-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 28px;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.food-crud-inputs-left-container {
    margin-bottom: 30px;
}

.food-crud-inputs-container {
    margin-bottom: 30px;
}

.food-crud-buttons-container {
    display: flex;
    justify-content: space-between;
}

.food-crud-button {
    height: 50px;
    width: 120px;
    font-weight: bold;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .food-crud-buttons-container {
        justify-content: flex-end;
    }

    .food-crud-button {
        margin-left: 30px;
        width: 270px;
    }
}

@media (min-width: 992px) {
    .food-crud-inputs-left-container {
        margin-bottom: 0;
    }
}